@model IEnumerable<PPP___ProjekatPokusaj2.Core.VoznjaBO>


    @{
        ViewData["Title"] = "Lista Voznji";
    }

    <style>
        
    </style>


<h3>@ViewData["Title"]</h3>
<hr/>
<style>
    .kontejnercic{
       display:flex;
         
    }
    .edit{
        border-right: solid grey;
        border-width: 1px;
        column:1;
        flex-basis:50%

    }
    .delete{
        column:2;
        flex-basis:50%
    }
</style>
<form>
<table class="table table-responsive table-bordered table-hover text-center">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.Id_voznje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_ulice)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.VremeVoznjeMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            
            
        </tr>
    </thead>
    <tbody>
        @if(Model != null & Model.Any())
        {
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id_voznje</td>
                    <td>@item.Id_ulice</td>
                    <td>@item.VremeVoznjeMin</td>
                    <td>@item.Id</td>

                   
                     
                    
                     

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    <div>
                        Nema Voznji Unesenih
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</form>